@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .display-flex{
    display: flex;
    justify-content: space-around;
  } 
  .navbar{
    justify-content: space-between;
    align-items: center;
    margin: 20px 140px;
    padding: auto;
  }
  .nav-item{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    margin: 20px;
  }
  .school-img{
    width: 62px;
    height: 62px;
    width: 100%;
    margin-top: 12px;
  }
  .brand{
    font-size: 32px;
    font-weight: 600;
  }

  .btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 10px 10px;
    font-size: 1.15rem;
    font-weight: 600;
    border: none;
    border-radius: 12px;
  }

  .nav-h3{
    font-size: 56px;
    font-weight: 700;
  }
  p{
    font-size: 20px;
    font-weight: 400;
  }
  .enroll{
    padding: 10px 10px;
    background-color: black;
    color: white ;
    border-radius: 12px;
  }
  .banner{
    margin-left: 140px;
    margin-right:140px ;
    gap: 20px;
    justify-content: space-between;
  }
  .banner-description{
    margin-top: 120px;
    margin-bottom: 140px;
    height: 330px;
    width: 640px;
  }

  .main-bg{
    background-image: url(assets/bg.png);
  }
 h5{
  font-size: 16px;
  font-weight: 700;
 }

 .card{
  margin-top: 80px;
  justify-items: center;
  text-align: center;
  border-radius: 19px;
  background-color: rgba(255,244,220,0.9);
  margin-bottom: 80px;
 }

  
 
 card > p{
  font-size: 16px;
  font-weight: 400;
 }

 .card1{

 }

 .footer{
  height: 520px;
  width: 100%;
 }